doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    body
        include ../js/directives/navbar/navbar.jade

        main
            .container
                .row
                    .section-white
                        .row.container
                            h2.header Welcome!
                            p We are Case Western Reserve University’s premeire Swing Dancing Club. Join us every week for lessons on East Coast, Lindy Hop, Charleson, and much more! In addition, we travel to events around the mid-west to learn new moves, as well as decompress. We are a tight knit group of dancers looking for the right beat. And the best part? We are a free club for students attending Case Western Reserve University, Cleveland Institute of Art, and Cleveland Institute of Music. 

                    .parallax-container
                        .parallax
                            // image courtsey of Jon Jay Li
                            img(src="http://johnjayli.com/wp-content/uploads/2013/02/gallery_b01.jpg")

                    .section-white
                        .row.container
                            p Our club is one where friends are made, and memories created. Join us each week for free lessons where we cover a wide range of dance styles including Lindy Hop, Charleston, and Blues. Our love of vintage styles and music bears no end, and drives us to want to dance constantly. You may even find us at random spots around campus practicing.

                    .parallax-container
                        .parallax
                            // image courtesy of Dan Dryden
                            img(src="images/index/shim-sham.jpg")

                    .section-white
                        .row.container
                            p And just remember, it don’t mean a thing, if it ain’t got that swing! See you on the dance floor!
        //Load at the bottom for faster page times
        include ../includes/jsFrameworks.jade