// Jquery/BootStrap/MaterailCSS/nanogallery
script(src="//code.jquery.com/jquery-1.10.2.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/jquery.nanogallery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js")
// build:script bundle
// /build