// build:remove
script(src="js/angular.js")
script(src="js/jquery.js")
script(src="js/material.js")
script(src="js/directives/navbar/navbar.js")
script(src="js/scripts/onPageLoad.js")
// /build

// Jquery/BootStrap/MaterailCSS
script(src="//code.jquery.com/jquery-1.10.2.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
script(src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js")
// build:script bundle
// /build