<html ng-app="SparX">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta name="Copyright CWRU Swing Club 2015">
	<title>SparX 2015 Pictures</title>

	<!--Import Lavish BootStrap-->
	<link href="/Swing/DEV/CSS/swing-bootstrap.css" rel="stylesheet" type="text/css">
	<!--Gallery-->
	<link rel="stylesheet" href="/Swing/DEV/CSS/blueimp-gallery.css">
	<link rel="stylesheet" href="pictures.css">
	<link rel="stylesheet" type="text/css" href="/Swing/DEV/CSS/transitions.css" media="all" />
	<!--Sidebar for navigation-->
	<link href="/Swing/DEV/CSS/simple-sidebar.css" rel="stylesheet" type="text/css">
	<!--Allow for proper rendering on mobile-->
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<script type="text/javascript" src="/Swing/DEV/JS/jquery.js"></script>
	<script type="text/javascript">

    // All images need to be loaded for this plugin to work so
    // we end up waiting for the whole window to load in this example
    $(window).load(function () {
    	$(document).ready(function(){
    		collage();
    	});
    });


    // Here we apply the actual CollagePlus plugin
    function collage() {
    	$('.Collage').removeWhitespace().collagePlus(
    	{
    		'fadeSpeed'     : 2000,
    		'targetHeight'	: 300,
    		'effect'        : 'default',
    	}
    	);
    };

    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
        // hide all the images until we resize them
        $('.Collage .Image_Wrapper').css("opacity", 0);
        // set a timer to re-apply the plugin
        if (resizeTimer) clearTimeout(resizeTimer);
        resizeTimer = setTimeout(collage, 500);
    });

    </script>
</head>
<body>
	<div ng-controller="toggleController">
		<div id="wrapper" ng-class="toggle" class="{{toggle}}">
			<navbar></navbar>
			<div ng-Controller="AppController" id="page-content-wrapper">
				<div class="navbar-inverse navbar-header hidden-md hidden-lg">
					<button href="#menu-toggle" id="menu-toggle" class="btn navbar-toggle pull-left" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
					<img 
					ng-click="checkToggled()"
					href="#menu-toggle"
					id="photo-menu-toggle"
					class="btn img-responsive pull-left col-md-3 hidden-xs hidden-sm"
					src="/Swing/DEV/Photos/Logos/logo.png"/>

					<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
					<div id="blueimp-gallery" class="blueimp-gallery">
						<div class="slides"></div>
						<h3 class="title"></h3>
						<a class="prev">‹</a>
						<a class="next">›</a>
						<a class="close">×</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
					</div>
					<div class="container-fluid col-lg-8 pull-left" id="links">
						<div>
							<h1 class="page-header">SparX 2015 Saturday Dance</h1>
						</div>
						<section class="Collage effect-parent well">
							<div class="Image_Wrapper spaced" ng-repeat="photo in photos">
								<a href="{{ photo.src }}" title="">
									<img 
									class="img-responsive"
									src="{{ photo.src }}"
									alt="SparX 2015"
									/>
								</a>
							</div>
						</section>
				</div>
			</div>
		</div>	
	</div>
	<!-- Put this at the bottom so the page loads faster -->
	<!-- Jquery -->
	<script type="text/javascript" src="/Swing/DEV/JS/initialize-gallery.js"></script>
	<script src="/Swing/DEV/JS/blueimp-gallery.js"></script>
	<script src="/Swing/DEV/JS/jquery.collagePlus.js"></script>
	<script src="/Swing/DEV/JS/jquery.removeWhitespace.js"></script>
	<script src="/Swing/DEV/JS/jquery.collageCaption.js"></script>
	<!-- BootStrap -->
	<script type="text/javascript" src="/Swing/DEV/JS/bootstrap.js"></script>
	<!--Angular-->
	<script type="text/javascript" src="/Swing/DEV/Angular/angular.js"></script>
	<script defer type="text/javascript" src="/Swing/DEV/Angular/Directives/navbar.js"></script>
	<script defer type="text/javascript" src="lazy-load-images.js"></script>
	
</body>
</html>