div.container-fluid{
	padding: 15;
}
div#page-content-wrapper{
	width: 100%;
	margin-left: auto;
	padding: 0;
}
.preview {
	max-height: 300px;
	margin-left: auto;
  	margin-right: auto;
	padding: 5;
}
