doctype html
html(ng-app='swingclub' ng-controller='RouteController')
    include includes/head.jade
    
    header
        //- nf-if is determined in app.js
        //- It should probably rely on URL and not title in the future
        nav.blue.darken-4.main-nav(ng-if="title != 'SparX'")
            .container
                a(href='/' data-activates='slide-out').button-collapse
                    i.mdi-navigation-menu
                ul.side-nav.fixed#slide-out
                    li.logo
                        a.logo-container.brand-logo(href="#home")
                            object(type="image/svg+xml" data="images/logo.svg" style="height:100%;")
                    li.bold.home
                        // Can change the wave color to match the logo blue
                        a.waves-effect.waves-red(href="#home") Home
                    li.bold.about
                        // Can change the wave color to match the logo blue
                        a.waves-effect.waves-red(href='#about') About
                    ul.collapsible.collapsible-accordion
                        li
                            a.collapsible-header.waves-effect.waves-red.bold Events
                            div.collapsible-body
                                ul
                                    li
                                        a(href='#events/overview') Overview
                                    li
                                       a(href='#sparx') SparX
                    ul.collapsible.collapsible-accordion
                        li
                            a.collapsible-header.waves-effect.waves-red.bold Media
                         
                            div.collapsible-body
                                ul
                                    li
                                        a(href='#media/gallery') Gallery
                                    li
                                        a(href='#media/sparx-gallery') SparX
        
        nav(ng-if="title == 'SparX'").sparx-nav
            .nav-wrapper
                .container
                    a.brand-logo.center(href="#sparx")
                        object(type="image/svg+xml" data="images/sparx_logo.svg" style="height:100%;")
                    a(data-activates='mobile-nav').sparx-button-collapse.hide-on-large-only
                        i.mdi-navigation-menu
                    ul.left.hide-on-med-and-down
                        li
                            a(href="#sparx/schedule") Schedule
                        li
                            a(href="#sparx/pricing-tracks") Pricing & Tracks
                        li
                            a(href="#sparx/venues-eateries") Venues
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#sparx/instructors") Instructors
                        li
                            a(href="#sparx/sponsors") Sponsors
                        li
                            a(href="http://cwruswingclub.eventbrite.com?s=69051870") Register Now!
                    ul.side-nav#mobile-nav
                        li
                            a(href="#home") CWRU Swing Club
                        li
                            a(href="#sparx") SparX Home
                        li
                            a(href="#sparx/schedule") Schedule
                        li
                            a(href="#sparx/pricing-tracks") Pricing & Tracks
                        li
                            a(href="#sparx/venues-eateries") Venues & Eateries
                        li
                            a(href="#sparx/instructors") Instructors
                        li
                            a(href="#sparx/sponsors") Sponsors
                        li
                            a(href="https://www.eventbrite.com/e/sparx-2016-tickets-16642248413") Register Now!
    //- ng-class lets us put CSS classes in based on context.
    //- We need this here so we can color the background of the SparX page        
    body(ng-class="{'background-sparx': title === 'SparX'}")
        div(ng-view)
        //Load at the bottom for faster page times
        include includes/jsFrameworks.jade