main
    base(href="/about.html")
    .container(ng-controller="cardController")
        .container.card-panel.white(ng-repeat="card in cards")
            .card-content
                h2 {{card.title}}

                p {{card.content}}

                div(ng-repeat="url in card.urls")
                    br
                    a(href="{{url.url}}" target="_blank") {{url.title}}