.container
    .card.grey.lighten-5.pricing-table
        .card-content
            h3.black-text  Pricing
            h6 (student and group discounts are $10 each, non-stackable)
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Ticket
                        th(data-field="track") Price
                tbody
                    tr(ng-repeat="price in pricing" class="{{price.name}}")
                        td 
                            p {{price.name}}
                        td 
                            p {{price.price}}

    .section
            h4 Tracks

            .row
                div.col.s12.m3.l3(ng-repeat="description in descriptions")
                    .card-panel.white
                        h5 {{description.name}}
                        em {{description.genre}}
                        p {{description.content}}