.container
	table(ng-repeat="day in days" class="{{day.day}}").striped.responsive-table
		thead
			tr
				th(data-field="day") {{day.day}}
				th(data-field="time") Time
				th(data-field="track") Track
				th(data-field="location") Location
		tbody
			// On this small data set, this is ok
			// On larger data don't do this
			tr(ng-repeat="track in day.teaching_times" class="{{track.track}}")
				td 
				td {{track.hour}}
				td 
					div(ng-repeat="track in track.tracks") 
						{{track.name}}
						br

				td 
					div(ng-repeat="track in track.tracks") 
						{{track.location}}
						br
