.container
	table(ng-repeat="day in days" class="{{day.day}}").striped.responsive-table
		thead
			tr
				th(data-field="day") {{day}}
				th(data-field="time") Time
				th(data-field="track") Track
				th(data-field="location") location
		tbody
			tr(ng-repeat="track in tracks" class="{{track.track}}")
				td {{track.time}}
				td {{track.track}}
				td {{track.location}}
