.container
    .section
        h4 Lessons
        p NOTE: Auditions are only for Saturday's tracks. Sunday's tracks are by choice. If you choose Intermediate/Advance with Bobby and Kate, you must have a solid come around and toss out. Lessons on Sunday are permanent, meaning the track you choose is the one you are in all day.
    .card.grey.lighten-5.schedule-table(ng-repeat="day in days" class="{{day.day}}")
        .card-content
            .card-title.black-text {{day.day}}
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Time
                        th(data-field="track") Track
                        th(data-field="location") Location
                tbody
                    // On this small data set, this is ok
                    // On larger data don't do this
                    tr(ng-repeat="track in day.teaching_times" class="{{track.track}}")
                        td 
                            p {{track.hour}}
                        td 
                            p(ng-repeat="track in track.tracks") {{track.name}}
                        td 
                            p(ng-repeat="track in track.tracks")  {{track.location}}

    .section
        h4 Dances
    .card.grey.lighten-5.schedule-table(ng-repeat="eveningDance in dances" class="{{eveningDance.day}}")
        .card-content
            .card-title.black-text {{eveningDance.day}} - {{eveningDance.danceLocation}}
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Time
                        th(data-field="music") Music
                tbody
                    // On this small data set, this is ok
                    // On larger data don't do this
                    tr(ng-repeat="dance in eveningDance.dance" class="{{track.track}}")
                        td {{dance.hours}}
                        td {{dance.event}}