doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    
    body.background-sparx
         nav
            .nav-wrapper

        .container
            .card.large
                .card-contents
                    h1.year 2016
                    h1.letter X

                    
        include ../includes/jsFrameworks.jade