.container
    .col.s12.m12.l12
        .card-panel
            .card-contents
                .row.lettering
                    .col.m3.l4.center.hide-on-small-only
                        img(ng-repeat="headshot in headshots" src="{{headshot.src}}").circle.headshot.z-depth-2
                    .col.s12.m6.l4.center
                        h4.weekend February 5th-7th
                        h1.year 2016
                        h1.big-letter VIII
                        h4.location Cleveland, OH
                    .col.m3.l4.center.hide-on-small-only
