doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    
    body.background-sparx
         nav
            .nav-wrapper

        .container
            .col.s12.m12.l12
                .card-panel
                    .card-contents
                        .row.lettering
                            .container.center-align
                                h4.weekend February 5th-7th
                                h1.year 2016
                                h1.big-letter X

                    
        include ../includes/jsFrameworks.jade