doctype html
html(ng-app="swingclub")
    include includes/head.jade
    
    body
        .container.backdrop
            h1.letter-color 2016
        
        //Load at the bottom for faster page times
        include includes/jsFrameworks.jade