.container
    .col.s12.m12.l12
        .card-panel
            .card-contents
                .row.lettering
                    .col.l4.left-align
                        img(ng-repeat="headshot in headshots" src="{{headshot.src}}").circle.headshot
                    .col.l4.center-align
                        h4.weekend February 5th-7th
                        h1.year 2016
                        h1.big-letter VII
                        h4.location Cleveland, OH
                    .col.l4.right-align
                        