.background-sparx
    .container
        .col.s12.m12.l12
            .card-panel
                .card-contents
                    .row.lettering
                        .center
                            h1.year 2016
                            h1.big-letter VIII
                            h4.weekend February 5th-7th
                            h4.location Cleveland, OH
                            h4.tag-lines A Lindy and Bal Workshop
                        .section.container
                            .row
                                .hide-on-small-only
                                    h2.center -Teachers-
                                    div.col.s12.m4.l4(ng-repeat="headshot in headshots")
                                        img(src="{{headshot.src}}" href="#{{headshot.id}}").circle.headshot.z-depth-2.modal-trigger
                                        div.modal.modal-fixed-footer(id="{{headshot.id}}")
                                            .modal-content
                                                h4.center.name {{headshot.name}}
                                                img(src="{{headshot.bodyshot}}").img-responsive
                                            .modal-footer
                                                a.modal-action.modal-close.waves-effect.waves-red.btn-flat Close