doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    
    body.background-sparx
        .container
            h1.year 2016
            h1.letter X

                    
        //Load at the bottom for faster page times
        include ../includes/jsFrameworks.jade