doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    
    body.background-sparx
         nav
            .nav-wrapper

        .container
            .col.s12.m12.l12
                .card-panel
                    .card-contents
                        .row.lettering
                            .col.l4.left-align
                                img(src="images/sparx/KateHedin.jpg").circle.headshot
                                img(src="images/sparx/BobbyWhite.jpg").circle.headshot
                                img(src="images/sparx/Boilermakers.jpg").circle.headshot
                            .col.l4.center-align
                                h4.weekend February 5th-7th
                                h1.year 2016
                                h1.big-letter X
                                h4.location Cleveland, OH

                    
        include ../includes/jsFrameworks.jade