doctype html
html(ng-app="sparx" ng-controller="RouteController")
    include ../includes/head-sparx.jade
    
    body.background-sparx
         nav
            .nav-wrapper
                a.brand-logo.center SparX
        
        div(ng-view)

                    
        include ../includes/jsFrameworks.jade