doctype html
html(ng-app="swingclub")
    include ../includes/head.jade
    
    body.background-sparx
         nav
            .nav-wrapper

        .container
            .card.large
                .card-contents
                    .row.lettering
                        .col.m6.l5
                            h1.year 2016
                            h1.big-letter X
                        .col.m5.l5
                            .col.l12.offset-l1.date
                                h2.weekend February 5th-7th
                                h2.weekend Cleveland, OH
                            .col.l12.offset-l1.tag-line
                                h2.phrase Tossout
                                h2.phrase Swingout
                                h2.phrase Lindy/Bal

                    
        include ../includes/jsFrameworks.jade