.container
    .card.grey.lighten-5.pricing-table
        .card-content
            h3.black-text  Pricing
            h6 (student and group discounts are $10 each, non-stackable)
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Ticket
                        th(data-field="track") Price
                tbody
                    tr(ng-repeat="price in pricing" class="{{price.name}}")
                        td 
                            p {{price.name}}
                        td 
                            p {{price.price}}

.section.container
    .row
        h2.center -Venues-
        div.col.s12.m4.l4(ng-repeat="venue in venues")
            .card
                .card-image
                    img(src="{{venue.src}}" href="#{{venue.id}}")
                    span.card-title {{venue.caption}}
                .card-action
                    a(href="{{venue.directions}}") Directions
            
            .card-panel.white
                p {{venue.note}}
// Use cards to show picture of building that has a "get directions" button, and a description