.container
    .section
        .row
            h2.center Venues
            div.col.s12.m4.l4(ng-repeat="venue in venues")
                .card
                    .card-image
                        img(src="{{venue.src}}" href="#{{venue.id}}")
                        span.card-title {{venue.caption}}
                    .card-action
                        a(href="{{venue.directions}}") Directions
                
                .card-panel.white
                    h5 Note:
                    p {{venue.note}}

    .section
        .row
            h2.center Eateries
            div.col.s12.m3.l3(ng-repeat="eatery in eateries")
                .card
                    .card-image
                        img.eatery(src="{{eatery.src}}" href="#{{eatery.id}}")
                        //- span.card-title {{eatery.caption}}
                    .card-action
                        a(href="{{eatery.directions}}") Directions