.bold {
    font-weight: bold;
}
/**
* Navbar Logo
**/

.side-nav .logo {
    padding-bottom: 75%;
    background-color: white;
    pointer-events: none;
    cursor: default;
}

.side-nav .logo .logo-container {
    height: 205px;
}
/**
* Main page formatting
**/

header,
main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}
