/**
 * SPARX
 */

.background-sparx {
    background: navajowhite;
    font-family: BodoniSans-Regular;
    font-weight: normal;
    font-style: normal;
}

.big-letter {
    font-size: 15rem;
    margin-bottom: -7vh;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

.card-panel {
    background-color: maroon;
}

.card-panel .card-contents {
    height: inherit;
}

.card-panel .card-contents .row {
    height: inherit;
}

.headshot {
    max-width: 45%;
    margin: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}

nav {
    background-color: maroon;
    height: 90px;
    line-height: 90px;
}

nav .brand-logo {
    font-size: 3.5rem;
    color: yellow;
    pointer-events: none;
    cursor: default;
}

@media (max-width: 650px) {
    .background-sparx .card {
        display: none;
    }
}

.lettering {
    color: gold;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}

.location {
    font-size: 2.7rem;
    margin: -4vh auto -1vh auto;
}

.weekend {
    font-size: 2.4rem;
    margin: 1vh auto -4vh auto;
}

.year {
    /* Margins and font are set based on viewport */
    
    font-size: 8.7rem;
    text-decoration: underline;
    margin: 9vh auto -3vh auto;
}
