/**
 * SPARX
 */

header {
    padding-left: 0;
}

.background-sparx {
    background: #FFE6B5;
    font-family: BodoniSans-Regular;
    font-weight: normal;
    font-style: normal;
}

.background-sparx nav {
    /* Off red **/

    background-color: #681B20;
    height: 90px;
    line-height: 90px;
}

.background-sparx nav .brand-logo {
    padding-left: 40px;
    font-size: 4.5rem;
    color: #dd9a5f;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
    height: 85px;
}
/**
 * Overriting materialized/bootstrap hover + focus effects
 */

.background-sparx nav ul a:hover,
.background-sparx nav ul a:focus,
.background-sparx nav .brand-logo:hover,
.background-sparx nav .brand-logo:focus,
.background-sparx nav .brand-logo:visited,
nav .nav-wrapper i:hover,
nav .nav-wrapper i:focus {
    /* Rust orange */

    color: #dd9a5f;
    text-decoration: none;
}

.bio {
  color: black;
}

.bio-image {
    margin: 20px 40px;
    max-width: 25%;
    color: black;
}


.card,
.card-panel {
    background-color: #681B20;
}

.card-panel .card-contents {
    height: inherit;
}

.card-panel .card-contents .row {
    height: inherit;
}

.card-image .eatery {
    max-height: 250px;
    padding: 10px;
    background: white;
}

.headshot {
    max-width: 90%;
    margin: 6px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.headshot:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.instructor-card,
.pricing-table,
.schedule-table {
    opacity: 0;
}

.instructor-names {
    margin: 10px 0;
}

.main-image {
    width: 65%;
}

.modal {
    width: 30%;
}

.modal,
.modal .modal-content {
    background-color: #eeeff1;
}

.modal .modal-content .name {
    color: #681B20
}

.modal .modal-footer {
    background-color: #681B20
}

.modal .modal-footer .modal-action {
    color: #dd9a5f
}

.Mandy_Hogan {
    /* Get higher res image so we don't have to do this*/
    width: 125%;
}

.lettering {
    color: #fff6a4;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}

.sparx-flow-text {
    color: white;
    font-size: 1.25rem;
    padding: 10px;
    margin: 10px 40px;
}

.sparx-logo {
    padding-left: 40px;
}

.sparx-nav .side-nav li a,
.sparx-nav .side-nav li:hover,
.sparx-nav .side-nav li:active {
    color: darkred;
    text-decoration: none;
}

.tag-lines {
    font-size: 2.5rem;
}
/**
 * SPARX MEDIA QUERIES
 *
 * We need to handle font sizing on different screen sizes
 */
/* ----------- iPhone 4 and 4S ----------- */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .bio-image {
        max-width: 80%;
        max-height: 80%
    }
    .main-image {
        width: 120%;
        margin-left: -56px;
    }
    .location,
    .tag-lines,
    .weekend {
        font-size: 1.85rem;
    }
    .year {
        font-size: 7.5rem;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .bio-image {
        max-width: 75%;
        margin: 13%;
    }
}

/* ----------- iPhone 6 ----------- */
/* ----------- Galaxy S4 ----------- */
/* ----------- Galaxy S3 ----------- */
/* Portrait */

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
    .bio-image {
        max-height: 100%;
    }
}
/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .bio-image {
        max-height: 70%;
        max-width: 80%;
    }
    .tag-lines {
        font-size: 1.85rem;
        margin: 1vh auto;
    }
}
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .bio-image {
        max-height: 40%;
        max-width: 49%;
    }
    .tag-line {
        margin: 1vh auto;
    }
}
/* ----------- Asus Nexus 7 ----------- */
/* Portrait */

@media only screen and (min-device-width: 600px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1.322) and (orientation: portrait) {
    .bio-image {
        max-width: 84%;
    }
}
/* ----------- iPad 1 and 2 ----------- */
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .bio-image {
        max-height: 40%;
        max-width: 50%;
    }
    .tag-lines {
        font-size: 1.85rem;
        margin: 1vh auto;
    }
}
/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {}
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
