.container
	ul#nav-mobile.side-nav.fixed
		li.logo
			img#logo-container.brand-logo(src="../images/logo.svg" href="http://www.cwru.edu/swingclub")
		#staggeredNav
		li.bold
			// Can change the wave color later
			a.waves-effect.waves-teal(href="../pages/about.html") About
		li.no-padding
			// Can change the wave color later
			ul.collapsible.collapsible-accordion
				li.bold
					a.collapsible-header.waves-effect.waves-teal Events
					.collapisble-body
						ul
							li
								a(href="../pages/overview.html") Overview
							li
								a(href="../pages/SparX.html") SparX


