<body>
	<div id="wrapper" class="">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="/index.html">
						CWRU Swing Club
					</a>
				</li>
				<li>
					<a href="Pages/SparX">SparX</a>
				</li>
			</ul>
		</div>
		<div id="page-content-wrapper">
			<div class="navbar-inverse navbar-header hidden-md hidden-lg">
				<button href="#menu-toggle" id="menu-toggle" class="btn navbar-toggle pull-left" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="container-fluid">
				<div class="row">
					<content></content>
				</div>
			</div>
		</div>
	</div>
</body>