.container
	ul#nav-mobile.side-nav.fixed
		li.logo
			img#logo-container.brand-logo(src="../../images/logo.svg" href="http://www.cwru.edu/swingclub")
		#staggeredNav
		li.bold.tab
			// Can change the wave color to match the logo blue
			a.waves-effect.waves-teal(href="../../pages/about.html") About
		li.no-padding
			// Can change the wave color to match the logo blue
			ul.collapsible.collapsible-accordion
				li.bold.tab
					a.collapsible-header.waves-effect.waves-teal Events
					.collapisble-body
						ul
							li
								a(href="../../pages/overview.html") Overview
							li
								a(href="../../pages/sparx.html") SparX
				li.bold.tab
					a.collapsible-header.waves-effect.waves-teal Photos
					.collapisble-body
						ul
							li
								a(href="../../pages/gallery.html") Gallery
							li
								a(href="../../pages/sparx-photos.html") SparX