main
    .row.container
        h2 Lessons

        p.lead We hold lessons every Thursday during the school year. Each lesson is an hour long. A beginner lesson (East Coast/Lindy Hop) from 7-8pm, a second hour lesson (varies semester to semester) from 8-9pm, and an advanced lesson* from 9-10pm. These take place in Carlton Commons on the south side of Case's campus. At the top of the elephant stairs, turn right. Once you walk in the door, go directly down the steps, and you'll find us! Please continually check the News on the home page, because we will be updating what classes will be covering as well as any venue changes. Sometimes we have lessons in a different place due to special events.
        p *Advanced lessons are for dancers who have been involved in the club and consistently dancing for at least one semester.

        h2 Overview
        p.lead To interact with the rest of the swing dancers in Cleveland, members of the club frequently attend events. These events are usually social dances, and a great way to practice what you've learned in lessons. Attendance is encouraged, even for brand new dancers, and we try to set up a carpool for those students who don't have access to cars. At most of the dances we go to, there is a beginner lesson before it starts if you are new or just feel a bit rusty.
        p.lead The two main events we attend are both monthly dances. The Waterloo dance takes place on the last Saturday night of every month. The dance starts at 9pm with a live band, ends at midnight, and there is a beginner lesson at 8pm. The Lakewood dance at Lakewood Masonic Temple is a dance on every second Friday of the month. The times are the same as the Waterloo dance. Cleveland is also lucky enough to be able to support a weekly dance. It takes place at Nazca every Wednesday night. There is a lesson from 7pm-8pmand DJed dancing from 8pm-12am.
        p.lead There are other events that take place outside of Cleveland. Members of our club travel to places like Pittsburgh, Indianapolis, Columbus, Dayton, and Ann Arbor for events.
//Footer
include ../includes/footer.jade