.container
    .section
        h4 Lessons
        p Please see Venues tab for places to eat around town.
        p NOTE: There are separate auditions for Saturday’s advanced Lindy track and Sunday’s advanced Balboa track. 
    .card.grey.lighten-5.schedule-table(ng-repeat="day in days" class="{{day.day}}")
        .card-content
            h5.card-title.black-text {{day.day}}
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Time
                        th(data-field="track") Track
                        th(data-field="location") Location
                tbody
                    // On this small data set, this is ok
                    // On larger data don't do this
                    tr(ng-repeat="track in day.teaching_times" class="{{track.track}}")
                        td 
                            p {{track.hour}}
                        td 
                            p(ng-repeat="track in track.tracks") {{track.name}}
                        td 
                            p(ng-repeat="track in track.tracks")  {{track.location}}

    .section
        h4 Dances
    .card.grey.lighten-5.schedule-table(ng-repeat="eveningDance in dances" class="{{eveningDance.day}}")
        .card-content
            h5.card-title.black-text {{eveningDance.day}} - {{eveningDance.danceLocation}}
            table.striped.responsive-table
                thead
                    tr
                        th(data-field="time") Time
                        th(data-field="music") Music
                tbody
                    // On this small data set, this is ok
                    // On larger data don't do this
                    tr(ng-repeat="dance in eveningDance.dance" class="{{track.track}}")
                        td {{dance.hours}}
                        td {{dance.event}}