.background-sparx
    .container
        .col.s12.m12.l12
            .card-panel
                .card-contents
                    .row.lettering
                        .center
                            a.center.sparx-logo
                                object.main-image(type="image/svg+xml" data="images/SparxLandingPage.svg")
                            h4.tag-lines A Lindy and Bal Workshop
                        .section.container
                            .row
                                .hide-on-small-only
                                    h2.center -Teachers-
                                    div.col.s12.m4.l4(ng-repeat="headshot in headshots")
                                        img(src="{{headshot.src}}" href="#{{headshot.id}}").circle.headshot.z-depth-2.modal-trigger
                                        div.modal.modal-fixed-footer(id="{{headshot.id}}")
                                            .modal-content
                                                h4.center.name {{headshot.name}}
                                                img(src="{{headshot.bodyshot}}" class="{{headshot.id}}").responsive-img
                                                p1.center.bio {{headshot.bio}}
                                            .modal-footer
                                                a.modal-action.modal-close.waves-effect.waves-red.btn-flat Close
                            .row                    
                                .hide-on-small-only
                                    h2.center -Band and DJs-
                                    div.col.s12.m4.l4(ng-repeat="band in bands")
                                        img(src="{{band.src}}" href="#{{band.id}}").circle.headshot.z-depth-2.modal-trigger
                                        div.modal.modal-fixed-footer(id="{{band.id}}")
                                            .modal-content
                                                h4.center.name {{band.name}}
                                                img(src="{{band.bodyshot}}").responsive-img
                                                p1.center.bio {{band.bio}}
                                            .modal-footer
                                                a.modal-action.modal-close.waves-effect.waves-red.btn-flat Close