*.png
*.jpg
#Except homepage image
!src/images/excitement.jpg
#Except the sparx images
!src/images/sparx/*
!src/images/sparx/**/*

/dev
/build
/prod
/node_modules
/bower_components
/Swing

**/.DS_Store

install.sh


