doctype html
html(ng-app="swingclub" ng-controller="RouteController")
    include includes/head.jade
    
    header
        nav.blue.darken-4
            .container
                a(href="#" data-activates="slide-out").button-collapse
                    i.mdi-navigation-menu
                span.brand-logo.show-on-med-and-down(ng-bind='name')
                ul#slide-out.side-nav.fixed
                    li.logo
                        a.logo-container.brand-logo(href="#home.html")
                            object(type="image/svg+xml" data="images/logo.svg" style="height:100%;")
                    li.bold
                        // Can change the wave color to match the logo blue
                        a.waves-effect.waves-red(href="#home.html") Home
                    li.bold
                        // Can change the wave color to match the logo blue
                        a.waves-effect.waves-red(href="#about.html") About
                    ul.collapsible.collapsible-accordion
                        li
                            a.collapsible-header.waves-effect.waves-red.bold Events
                            div.collapsible-body
                                ul
                                    li
                                        a(href="#events/overview.html") Overview
                                    li
                                       a(href="#events/sparx.html") SparX
                    ul.collapsible.collapsible-accordion
                        li
                            a.collapsible-header.waves-effect.waves-red.bold Media
                         
                            div.collapsible-body
                                ul
                                    li
                                        a(href="#media/gallery.html") Gallery
                                    li
                                        a(href="#media/sparx-gallery.html") SparX
    
    body
        div(ng-view)
        //Load at the bottom for faster page times
        include includes/jsFrameworks.jade
    //Footer
    include includes/footer.jade