doctype html
html(ng-app="sparx" ng-controller="RouteController")
    include includes/head-sparx.jade
    
    body.background-sparx
         nav
            .nav-wrapper
                .container
                    a.brand-logo.center SparX
                    ul.left.hide-on-med-and-down
                        li
                            a Schedule
                        li
                            a(href="#/instructors") Instructors
                    ul.right.hide-on-med-and-down
                        li
                            a Registration
                        li
                            a Map
        
        div(ng-view)


                    
        include includes/jsFrameworks.jade